h1.title {
  text-align: center;
  font-size: 100px;
  color: rgba(175, 47, 47, 0.75);
}
.info{
  margin: 65px auto 0;
  color: #bfbfbf;
  font-size: 10px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  text-align: center;
}
.info p{
  text-align: center;
  line-height: 1;
}
.info a{
  text-decoration: none;
  color: inherit;
}
.info a:hover{
  text-decoration: underline;
}
