.footer {
  padding: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

ul.filters {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

ul.filters li {
  display: inline;
}

ul.filters li a {
  color: inherit;
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border-radius: 3px;
  border: 1px solid transparent;
}

ul.filters li a:hover {
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid rgba(175, 47, 47, 0.1);
}

ul.filters li a.selected {
  border: 1px solid rgba(175, 47, 47, 0.2);
}

.footer button.clear-completed {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  color: inherit;
  outline: none;
  font-size: inherit;
  cursor: pointer;
  text-align: right;
}

.footer button.clear-completed:hover {
  text-decoration: underline;
}

